<!DOCTYPE html> 
<html>

<head>
  <title>Uber Price Surge</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
</head>

<body>
<div id="main">
  <header>
    <div id="strapline">
      <div id="welcome_slogan">
    <h3>Rise in Price</h3>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->      
    <nav style="font-size:75%">
      <div id="menubar">
        <ul id="nav">
        <li style="visibility:hidden"><a href="/blah">About</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/historicaldataanalysis">Batch Analysis</a></li>
          <li class="current"><a href="/archdiagram">Architecture Diagram</a></li>
        </ul>

      </div><!--close menubar-->    
    </nav>
  </header> 
  <div style="width:90%;margin:auto">
  <!--<script src="https://www.gliffy.com/diagramEmbed.js" type="text/javascript"></script>
  <script type="text/javascript">gliffy_did="10170441";embedGliffy();</script>-->
  <img src="https://www.gliffy.com/go/view/10170441.png" style="margin:auto; display:block" />
  </div>
  </body>
  </html>